/* Fonts in CSS file */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AndikaNewBasic&display=swaphttps://fonts.googleapis.com/css?family=Andika New Basic');

/* Style sheet for Graduate Nursing/Midwife Job Match Home Page*/
.header-logo{
  display: flex;
  align-items: center;
}
  
.logo {
  width: auto; 
  height: 70px;
  float: left; 
  margin-left: 50px;
}
  
.logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.highlight-logo {
  color: #8B4513; /* colour for the highlighted letter in logo */
}  

.graduate {
  font-family: 'Alegreya SC', serif; 
  font-size: 24px; 
  font-weight: 700;
  color: #000000;
}  
  
.job-match {
  font-family: 'ABeeZee', sans-serif; 
  font-size: 16px; 
  font-style: italic;
  color: #000000;
}
  
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Anek Devanagari', sans-serif;
}

header {
  width: 100%;
  height: 85px;
  background-color: #FFFDF7;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box; 
  position: relative;
  z-index: 2; 
  }

#employer_header {
  background-color: #4682B4;
}

.header-nav ul {
  list-style: none;
  padding: 20;
  margin: 0;
  display: flex;
  gap: 45px;
}

.header-nav li a {
  text-decoration: none;
  color: #000;
}

.header-access .signin-btn {
  color: #8B4513;
  font-weight: 700;
  text-decoration: none;
}

.header-access .signin-btn::after {
  content: "";
  display: inline-block;
  height: 20px; 
  width: 1px;
  background-color: #000;
  margin-left: 10px; 
  margin-right: 10px; 
  vertical-align: middle;
}

.header-access .employer-site-btn {
  color: #000;
  text-decoration: none;
  margin-right: 50px
}

.footer-svg {
  margin-top: 0%;
  width: 100%;
  height: 512px;
  background-image: url('data:image/svg+xml,<svg width="1920" height="521" viewBox="0 0 1920 521" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1920" height="521" fill="%23E2725B"/><rect width="1920" height="450" transform="translate(0 36)" fill="%23FFFDF7"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.employer-footer-svg {
  margin-top: 0%;
  width: 100%;
  height: 512px;
  background-image: url('data:image/svg+xml,<svg width="1920" height="521" viewBox="0 0 1920 521" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1920" height="521" fill="%234682B4"/><rect width="1920" height="450" transform="translate(0 36)" fill="%23FFFDF7"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 9%;
  position: relative; 
  z-index: 2; 
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: -725%;
}

.social-icon img {
  margin-right: 5px; 
  height: auto;
  width: 41px;
}

.copyright-text {
  color: #8B4513;
  font-family: 'Anek Devanagari', sans-serif;
  font-size: 12px;
  margin-top: 17px;
  margin-left: -744%;
}

.footer-buttons {
  margin-left: -711%;
  margin-top: 1%;
}

.footer-buttons button {
  background-color: transparent;
  border: none;
  color: #8B4513; /* Font color as specified */
  font-weight: bold;
  cursor: pointer;
}

.footer-buttons button:hover {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-left: -220%;
  margin-top: -3%;
}

.footer-logo .logo {
  margin-right: 10px; /* Adjust as needed */
  width: auto; 
  height: 150px;
  float: left; 
}
  
.footer-logo .logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.footer-logo .graduate {
  font-family: 'Alegreya SC', serif; 
  font-size: 55px; 
  font-weight: 700;
  color: #000000;
}  
  
.footer-logo .job-match {
  font-family: 'ABeeZee', sans-serif; 
  font-size: 25px; 
  font-style: italic;
  color: #000000;
}

.footer-links a {
  margin-right: 20px; /* Adjust as needed */
  color: #292929; /* Adjust as needed */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -10px;
  margin-left: -250%;
}

.footer-links a:hover {
  text-decoration: underline;
}
