.wave-background {
  width: 100%;
  height: 1350px;
  background-image: 
    url('data:image/svg+xml;charset=UTF-8,<svg width="1920" height="450" viewBox="0 0 1920 450" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_376_3167" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1920" height="450"><rect width="1920" height="450" fill="white"/></mask><g mask="url(%23mask0_376_3167)"><path d="M1157 273.094C820.863 464.981 219 391.125 -47.5 347.625L-64 508.781H2040.5V30.375C1798 14.9062 1628 4.2187 1157 273.094Z" fill="%23E2725B"/><path d="M680 376.031C304.8 305.381 -80 397.031 -225.5 451.687L-214 547.594H1968V0C1878.5 110.437 1632.6 310.331 1365 226.406C1030.5 121.5 1149 464.344 680 376.031Z" fill="%23FFFDF7"/><path d="M680 383.344C304.8 312.694 -80 404.344 -225.5 459L-214 554.906H1968V7.3125C1878.5 117.75 1632.6 317.644 1365 233.719C1030.5 128.812 1149 471.656 680 383.344Z" fill="%23556B2F"/></g></svg>'),
    linear-gradient(#FFFDF7, #FFFDF7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  }

h1, h2 {
  font-family: 'Andika New Basic', sans-serif;
  color: #FFB448;
  font-weight: bold;
  font-size: 35px;
   margin-left: 5%;
}

h1 {
  margin-top: 4%;
}

p {
  font-family: 'ABeeZee', sans-serif;
  color: #aca1a1;
  font-size: 18px;
  margin-left: 6%;
  margin-right: 5%;
}   